@charset "utf-8";
/* CSS Document */

@media (min-width: 1200px) and (max-width: 1920px) {
.leftMenu .btn-group ul.dropdown-menu,
.trends .btn-group ul.dropdown-menu{ display:block; position:inherit!;}



}

@media (min-width: 992px) and (max-width: 1199px) {
.loginpage .mid {
    width: 425px;
}
.leftMenu .btn-group ul.dropdown-menu,
.trends .btn-group ul.dropdown-menu{ display:block; position:inherit!;}	
.mid {
    float: left;
    height: auto;
    margin: 0 12px;
    width: 485px;
}
.post-content {
    float: right;
    width: 385px;
}
.friends-con .friend-area,
.friends-con .picture-area{
	overflow: auto;
    width: 100%;
	height:135px;
}
.friend-area ul li a,
.picture-area ul li a{ width:46px;}
.friend-area ul li a img{ width:100%;}

}



@media (min-width: 768px) and (max-width: 991px) {
.loginpage .mid {
    width: 478px;
}
.leftMenu .btn-group ul.dropdown-menu,
.trends .btn-group ul.dropdown-menu{ display:block; position:inherit!;}	
.top-icons-area {
    float: right;
    width: 230px;
}
.top-icons-area .btn-group {
    float: left;
    margin: 9px 0 0;
}

.mid {
    float: left;
    height: auto;
    margin: 0 0 0 12px;
    width: 538px;
}
.rightSide {
    float: right;
    width: 100%;
}
.top-user-area {
    float: left;
    height: 39px;
    margin: 5px 0 0 20px;
    width: 39px;
}
.top-icons-area ul {
    float: left;
    margin: 5px 0 0;
    padding: 0;
}
.search {
    border: 1px solid #6D8934;
    clear: both;
    float: right;
    height: 33px;
    margin: -10px 0 10px 10px;
    width: 300px;
}

.feedContent {
    float: right;
    padding: 15px 0 0;
    width: 625px;
}

.online-firends ul {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
.online-firends ul li {
    clear: both;
    display: block;
    float: left;
    position: relative;
    width: 100%;
}
.onlinefriendContent {
    float: right;
    padding: 5px 0 0;
    width: 85%;
}
.onlinefriendPic {
    float: left;
    margin: 0 15px;
    width: 53px;
}
.newFeed{ margin:25px 0 0;}
}

@media (min-width: 481px) and (max-width: 767px) {
	
.loginpage .mid {
    clear: both;
    float: none;
    margin: 0 auto;
    width: 100%;
}
	.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.leftMenu, .trends {
    border: medium none;
    clear: none;
    float: left;
    width: auto; 
	margin:0 10px 20px 0;
}
.leftside{ width:100%;}
.leftMenu,
.trends{ float:left; clear:none;}
.leftMenu ul li{ margin:10px;}	
.leftMenu .btn-group .dropdown-toggle,
.trends .btn-group .dropdown-toggle{ display:block;}	
.leftMenu h2,
.trends h2{ display:none;}
.leftMenu .btn-group .dropdown-menu ,
.trends .btn-group .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.leftMenu .open .dropdown-menu,
.trends .open .dropdown-menu {
  position: absolute;
  top: 33px;
  left: 0;
  z-index: 1000;
  display:block;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.mid {
    float: left;
    height: auto;
    margin: 0 auto;
    width: 100%;
}
.post-content {
    float: right;
    width: 85%;
}
.rightSide {
    float: right;
    width: 100%;
}
.feedContent {
    float: right;
    padding: 15px 0 0;
    width: 85%;
}


.online-firends ul {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
.online-firends ul li {
    clear: both;
    display: block;
    float: left;
    position: relative;
    width: 100%;
}
.onlinefriendContent {
    float: right;
    padding: 5px 0 0;
    width: 85%;
}
.profile-Content .profile-Left{ width:100%;}
.profile-Left .profile-Right {
    margin: 30px 1% 0;
    width: 30.3333%;
}
 .friend-title h2, .picture-title h2 {
    font-size: 12px !important;
    height: 34px;
    padding: 15px 0 0 45px !important;
}
.feed-title h2  {
    font-size: 12px !important;
    height: 34px;
    padding: 15px 0 0 25px !important;
}
.profile-Left .profile-Right .feed-title a {
    margin: 15px 0 0;
}
.friend-area ul li a, .picture-area ul li a {
    width: 45px;
}
.profile-Left .profile-Right .feed-area {
    clear: both;
    display: block;
    float: left;
    height: 135px;
    margin: 15px 0;
    overflow: auto;
    width: 100%;
}
.feedPic {
    float: none;
    margin: 0 auto;
    position: relative;
    width: 53px;
}
.feedContent p {
    color: #737A83;
    font-family: 'open_sansregular';
    font-size: 13px;
    margin: 0;
    padding: 0;
    text-align: center;
}
.time {
    float: right;
    width: auto;
}
.profile-Left .profile-Right .feed-area .feedCon .feedContent {
    float: right;
    padding: 0;
    width: 100%;
}

.profile-toparea .profile-pic,
.profile-toparea .btn-area,
.profile-toparea .profile-status{ width:205px; margin:0 auto; float:none;}


.trends .btn-group{ display:block;}
.simply-scroll-container{ display:none!important;}

.news{ display:none;}
}



@media (min-width: 601px) and (max-width: 767px) {
.top-icons-area {
    float: right;
    width: 233px;
}
.top-icons-area .btn-group {
    float: left;
    margin: 9px 0 0;
}
.top-icons-area .open ul{ right:0!important;}
.logo {
    float: left;
    margin: 10px 0;
    width: 300px;
}
.top-user-area {
    float: left;
    height: 39px;
    margin: 5px 0 0 20px;
    width: 39px;
}
.top-icons-area ul {
    float: left;
    margin: 5px 0 0;
    padding: 0;
}
.search {
    border: 1px solid #6D8934;
    clear: both;
    float: right;
    height: 33px;
    margin: -35px 0 10px;
    width: 300px;
}

.online-firends ul {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
.online-firends ul li {
    clear: both;
    display: block;
    float: left;
    position: relative;
    width: 100%;
}
.onlinefriendContent {
    float: right;
    padding: 5px 0 0;
    width: 85%;
}

.trends .btn-group{ display:block;}
.simply-scroll-container{ display:none!important;}
 
}

@media (min-width: 480px) and (max-width: 600px) {
.logo {
    float: none;
    margin: 0 auto;
    width: 280px;
}
.logo img{
	display:block;
	width: 280px;
	margin:0 auto;
}

.search {
    border: 1px solid #6D8934;
    float: none;
    height: 33px;
    margin: 15px auto;
	 clear:both;
 }
 .top-icons-area {
    float: none;
    margin: 0 auto 15px;
    width: 220px;
 }
 .top-icons-area .btn-group {
    float: left;
    margin: 17px 0 0;
}
 .top-user-area {
    float: right;
    height: 39px;
    margin: 15px 0 10px;
    width: 39px;
}

.top-icons-area ul {
    margin: 10px 0 0;
}

.online-firends ul {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
.online-firends ul li {
    clear: both;
    display: block;
    float: left;
    position: relative;
    width: 100%;
}
.onlinefriendContent {
    float: right;
    padding: 5px 0 0;
    width: 85%;
}

}

@media (min-width: 320px) and (max-width: 480px) {
	.login-tab #tabs .ui-tabs-nav li a {
    padding: 10px 22px;
    width: auto !important;
}

.login-tab {
    margin: 0 auto;
    width: 100%;
}
.login-area .input-box{ width:100%;}
	
.loginpage .mid {
    clear: both;
    float: none;
    margin: 0 auto;
    width: 100%;
}
	
	.news{ display:none;}
	
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.logo {
    float: none;
    margin: 0 auto;
    width: 280px;
}
.logo img{
	display:block;
	width: 280px;
	margin:0 auto;
}

.top-icons-area {
    float: none;
    margin: 0 auto 15px;
     width: 220px;
	 clear:both;
}
.top-icons-area .btn-group {
    float: left;
    margin: 15px 0 0;
}
.top-user-area {
    float: right;
    height: 39px;
    margin: 15px 0 10px;
    width: 39px;
}

.top-icons-area ul {
    margin: 10px 0 0;
}
.leftMenu, .trends {
    border: medium none;
    clear: none;
    float: left;
    width: auto; 
	margin:0 10px 20px 0;
}
.leftside{ width:100%;}
.leftMenu,
.trends{ float:left; clear:none;}
.leftMenu ul li{ margin:10px;}	
.leftMenu .btn-group .dropdown-toggle,
.trends .btn-group .dropdown-toggle{ display:block;}	
.leftMenu h2,
.trends h2{ display:none;}
.leftMenu .btn-group .dropdown-menu ,
.trends .btn-group .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.leftMenu .open .dropdown-menu,
.trends .open .dropdown-menu {
  position: absolute;
  top:33px;
  left: 0;
  z-index: 1000;
  display:block;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.mid {
    float: left;
    height: auto;
    margin: 0 auto;
    width: 100%;
}
.post-content {
    float: right;
    width: 76%;
}
.rightSide {
    float: right;
    width: 100%;
}
.feedContent {
    float: right;
    padding: 15px 0 0;
    width: 76%;
}

.online-firends ul {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
.online-firends ul li {
    clear: both;
    display: block;
    float: left;
    position: relative;
    width: 100%;
}
.onlinefriendContent {
    float: right;
    padding: 5px 0 0;
    width: 76%;
}

#tabs1,
#tabs2{ display:none;}
#accordion,
#accordion1{ display:block; margin:10px 0; clear:both; float:left; width:100%;}
.tabContentArea{ width:100%!important;}

h3.ui-accordion-header {
    color: #4D4D4D;
    display: block;
    font-family: 'open_sansregular';
    font-size: 13px;
    margin: 0 0 ;
    padding: 10px;
    text-align: left;
    width: 100%;
 
    background: none repeat scroll 0 0 #F1F1F1;
    border-bottom: 1px solid #DDDDDD;
	display:block;
	clear:both;
}

h3.ui-accordion-header:hover, h3.ui-accordion-header-active {
    color: #4D4D4D;
    display: block;
    font-family: 'open_sansregular';
    font-size: 13px;
    margin: 0 0 ;
    padding: 10px;
    text-align: left;
    width: 100%;
 
    background: none repeat scroll 0 0 #fff;
    border-bottom: 1px solid #DDDDDD;
	display:block;
	clear:both;
}

.ui-accordion-header span.time {
    color: #CECECE;
	font-size:12px;
}
.ui-accordion-header span.text{
    color: #CECECE;
    display: block;
    font-family: 'open_sansregular';
    font-size: 12px;
    margin: 5px 0 0;
    padding: 0 0 0;
    text-align: left;
    width: 100%;
	 
}
.comment-text,
.comment-boxRight .comment-text{ width:202px;}
.search {
    border: 1px solid #6D8934;
    float: none;
    height: 33px;
    margin: 15px auto;
	clear:both;
	width:283px;
 }
 
 
.profile-Left .profile-Right {
	display:none;
}

.search input.search-box{ width:170px;}

.trends .btn-group{ display:block;}
.simply-scroll-container{ display:none!important;}
}


@media (min-width: 100px) and (max-width: 319px) {
.search {
    border: 1px solid #6D8934;
    float: none;
    height: 33px;
    margin: 15px auto;
 }	
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.logo {
    float: none;
    margin: 0 auto;
    width: 280px;
}
.logo img{
	display:block;
	width: 280px;
	margin:0 auto;
}

.top-icons-area {
    float: none;
    margin: 0 auto 15px;
    overflow: hidden;
    width: 232px;
}

.top-icons-area ul {
    margin: 10px 0 0;
}
.leftMenu, .trends {
    border: medium none;
    clear: none;
    float: left;
    width: auto; 
	margin:0 10px 20px 0;
}
.leftside{ width:100%;}
.leftMenu,
.trends{ float:left; clear:none;}
.leftMenu ul li{ margin:10px;}	
.leftMenu .btn-group .dropdown-toggle,
.trends .btn-group .dropdown-toggle{ display:block;}	
.leftMenu h2,
.trends h2{ display:none;}
.leftMenu .btn-group .dropdown-menu ,
.trends .btn-group .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.leftMenu .open .dropdown-menu,
.trends .open .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display:block;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.mid {
    float: left;
    height: auto;
    margin: 0 auto;
    width: 100%;
}
.post-content {
    float: right;
    width: 76%;
}
.rightSide {
    float: right;
    width: 100%;
}
.feedContent {
    float: right;
    padding: 15px 0 0;
    width: 76%;
}
#tabs1,
#tabs2{ display:none;}
#accordion,
#accordion1{ display:block; margin:10px 0; clear:both; float:left; width:100%;}
.tabContentArea{ width:100%!important;}

h3.ui-accordion-header {
    color: #4D4D4D;
    display: block;
    font-family: 'open_sansregular';
    font-size: 13px;
    margin: 0 0 ;
    padding: 10px;
    text-align: left;
    width: 100%;
 
    background: none repeat scroll 0 0 #F1F1F1;
    border-bottom: 1px solid #DDDDDD;
	display:block;
	clear:both;
}

h3.ui-accordion-header:hover, h3.ui-accordion-header-active {
    color: #4D4D4D;
    display: block;
    font-family: 'open_sansregular';
    font-size: 13px;
    margin: 0 0 ;
    padding: 10px;
    text-align: left;
    width: 100%;
 
    background: none repeat scroll 0 0 #fff;
    border-bottom: 1px solid #DDDDDD;
	display:block;
	clear:both;
}

.ui-accordion-header span.time {
    color: #CECECE;
	font-size:12px;
}
.ui-accordion-header span.text{
    color: #CECECE;
    display: block;
    font-family: 'open_sansregular';
    font-size: 12px;
    margin: 5px 0 0;
    padding: 0 0 0;
    text-align: left;
    width: 100%;
	 
}
.comment-text,
.comment-boxRight .comment-text{ width:202px;}
}